:root {
  --clr-primary: #ee6352;
  --clr-secondary: #d16e8d;
  --clr-accent: #F7F7FF;
  --clr-gradient: linear-gradient(-90deg, var(--clr-primary), var(--clr-secondary));
  --ff-title: bungee, sans-serif;
  --ff-body: canada-type-gibson, sans-serif;
  --fw-body: 300;
  --fw-bold: 800;
  --fw-title: 400;
  --fw-number: 800;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-d-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.grid .span-12 {
  grid-column: span 12;
}

.grid .span-6 {
  grid-column: span 6;
}

ul.reset {
  list-style-type: none;
  padding: 0;
  /* margin-left: 0; */
}

.gap-s {
  gap: 1em;
}

.gap-m {
  gap: 2em;
}

.padding-s {
  padding: 1em;
}

.padding-m {
  padding: 2em;
}

.padding-button-s {
  padding: 0.5em 1em;
}

.padding-button-m {
  padding: 1em 2em;
}

@media screen and (max-width: 43em) {
  .hide-for-mobile {
    display: none;
  }
}

@media screen and (max-width: 43em) {
  .hide-under-tablet {
    display: none;
  }
}

@media screen and (min-width: 82em) {
  .hide-for-desktop {
    display: none;
  }
}

.border-b {
  border-bottom: 1px solid #f2f2f2;
}

.border-t {
  border-top: 1px solid #1f1f1f;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.no-overflow {
  overflow: hidden;
}

.no-overflow-x {
  overflow-x: hidden;
}

.no-overflow-y {
  overflow-y: hidden;
}

.responsive-width {
  width: clamp(10em, 100%, 60em);
}

.responsive-padding {
  padding: 0 clamp(1em, 10vw, 15em);
}

a.primary, button.primary {
  background-color: var(--color-primary);
  color: var(--color-dark);
  font-weight: bold;
}

a.secondary, button.secondary {
  color: #16498a;
  border: 1px solid #16498a;
}

a.tertiary, button.tertiary {
  color: #16498a;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  line-height: 1.6;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
}

img, video, picture {
  max-width: 100%;
}

p {
  max-width: 80ch;
}

h2 {
  border-bottom-color: #cccccc;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.theme-light {
  background-color: #cccccc;
  color: #222;
}

.theme-dark {
  background-color: #222;
  color: #cccccc;
}

a {
  text-decoration: none;
  color: inherit;
}

a:link {
  color: #16498a;
}

a:hover {
  opacity: 0.5;
}

a:active {
  color: #16498a;
}

figure {
  margin: 0;
}

.animate-fade {
  opacity: 0;
  -webkit-transition: opacity 0.6s ease 0.3s;
  transition: opacity 0.6s ease 0.3s;
}

.animate-fade-left {
  opacity: 0;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  -webkit-transition: opacity 0.6s cubic-bezier(0.2, 0, 0.13, 1.5) 0.3s, -webkit-transform 0.6s cubic-bezier(0.2, 0, 0.13, 1.5) 0.3s;
  transition: opacity 0.6s cubic-bezier(0.2, 0, 0.13, 1.5) 0.3s, -webkit-transform 0.6s cubic-bezier(0.2, 0, 0.13, 1.5) 0.3s;
  transition: opacity 0.6s cubic-bezier(0.2, 0, 0.13, 1.5) 0.3s, transform 0.6s cubic-bezier(0.2, 0, 0.13, 1.5) 0.3s;
  transition: opacity 0.6s cubic-bezier(0.2, 0, 0.13, 1.5) 0.3s, transform 0.6s cubic-bezier(0.2, 0, 0.13, 1.5) 0.3s, -webkit-transform 0.6s cubic-bezier(0.2, 0, 0.13, 1.5) 0.3s;
}

.animate-scale {
  opacity: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scaleX(0.5);
          transform: scaleX(0.5);
  -webkit-transition: opacity 0.3s cubic-bezier(0.2, 0, 0.13, 1.5), -webkit-transform 0.3s cubic-bezier(0.2, 0, 0.13, 1.5);
  transition: opacity 0.3s cubic-bezier(0.2, 0, 0.13, 1.5), -webkit-transform 0.3s cubic-bezier(0.2, 0, 0.13, 1.5);
  transition: opacity 0.3s cubic-bezier(0.2, 0, 0.13, 1.5), transform 0.3s cubic-bezier(0.2, 0, 0.13, 1.5);
  transition: opacity 0.3s cubic-bezier(0.2, 0, 0.13, 1.5), transform 0.3s cubic-bezier(0.2, 0, 0.13, 1.5), -webkit-transform 0.3s cubic-bezier(0.2, 0, 0.13, 1.5);
}

.highlight {
  border: 3px dotted red;
}

.floating {
  -webkit-animation-name: floating;
          animation-name: floating;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

@-webkit-keyframes floating {
  from {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, 16px);
            transform: translate(0, 16px);
  }
  to {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes floating {
  from {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, 16px);
            transform: translate(0, 16px);
  }
  to {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main section {
  background-color: #1f1f1f;
}

.container {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  margin: 10em auto;
  max-width: calc(330 * 1px);
}

@media screen and (max-width: 400px) {
  .container {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}

.iphone {
  position: relative;
  height: 700px;
  width: 360px;
  -webkit-transform: rotateY(171deg) rotateX(93deg);
          transform: rotateY(171deg) rotateX(93deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 0px;
          perspective: 0px;
}

.iphone__front, .iphone__back, .iphone__right, .iphone__left {
  height: 100%;
}

.iphone__front, .iphone__back, .iphone__right, .iphone__left, .iphone__bottom, .iphone__top {
  background-color: #f0f0f0;
  position: absolute;
}

.iphone__back, .iphone__front {
  top: 0;
  left: 0;
  border-radius: 10px;
  width: 100%;
}

.iphone__left, .iphone__right {
  width: 20px;
}

.iphone__left, .iphone__right, .iphone__top, .iphone__bottom {
  border-radius: 50px;
}

.iphone__top, .iphone__bottom {
  width: 360px;
  height: 20px;
}

.iphone__front {
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  -webkit-box-shadow: 0px 0px 0px 11px #1c1c1c, 0px 0px 0px 13px #dedede, 0px 0px 0px 20px #e0e0e0;
          box-shadow: 0px 0px 0px 11px #1c1c1c, 0px 0px 0px 13px #dedede, 0px 0px 0px 20px #e0e0e0;
  background-color: #e8e8e8;
  position: relative;
  overflow: hidden;
}

.iphone__front .iphone__bar,
.iphone__front .iphone__notch,
.iphone__front .iphone__indicator,
.iphone__front .iphone__frame {
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.iphone__front .iphone__bar {
  top: 0;
  left: 0;
  color: #e5e5e5;
  font-family: sans-serif;
  font-size: 0.8em;
  font-weight: bold;
  padding: 0 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #585A79;
  width: 100%;
  height: 30px;
  z-index: 2;
}

.iphone__front .iphone__bar .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.6em;
}

.iphone__front .iphone__notch {
  background-color: #1f1f1f;
  top: 0;
  width: 56%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 25px;
  position: relative;
  z-index: calc(2 + 1);
  border-radius: 0px 0px 20px 20px;
}

.iphone__front .iphone__notch .speaker,
.iphone__front .iphone__notch .camera {
  position: absolute;
}

.iphone__front .iphone__notch .speaker {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 8px;
  width: 30%;
  z-index: calc(2 + 2);
  background-color: #121212;
  border-radius: 8px;
  -webkit-box-shadow: inset 0px -3px 3px 0px rgba(242, 242, 242, 0.2);
          box-shadow: inset 0px -3px 3px 0px rgba(242, 242, 242, 0.2);
}

.iphone__front .iphone__notch .camera {
  right: 15%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: calc(2 + 2);
  width: 12px;
  height: 12px;
  background-color: #121212;
  border-radius: 12px;
  -webkit-box-shadow: inset 0px -3px 2px 0px rgba(255, 255, 255, 0.2);
          box-shadow: inset 0px -3px 2px 0px rgba(255, 255, 255, 0.2);
}

.iphone__front .iphone__notch .camera:after {
  content: "";
  position: absolute;
  background-color: #2d4d76;
  width: 6px;
  z-index: calc(2 + 4);
  height: 6px;
  top: 3px;
  left: 3px;
  display: block;
  border-radius: 4px;
  -webkit-box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.5);
}

.iphone__front .iphone__indicator {
  position: absolute;
  bottom: 7px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 40%;
  height: 4px;
  background-color: #1f1f1f;
  border-radius: 10px;
}

.iphone__front .iphone__frame {
  top: 30px;
  border: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  width: 100%;
  height: calc(100% - 30px);
}

.iphone__back {
  -webkit-transform: rotateY(0.5turn) translateZ(20px);
          transform: rotateY(0.5turn) translateZ(20px);
  -webkit-box-shadow: 0px 0px 0px 20px #e8e8e8, inset 0 0 40px -40px #474747;
          box-shadow: 0px 0px 0px 20px #e8e8e8, inset 0 0 40px -40px #474747;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
}

.iphone__left {
  top: 0;
  left: -20px;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotateY(-0.25turn) translateX(-20px);
          transform: rotateY(-0.25turn) translateX(-20px);
}

.iphone__right {
  top: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
  right: -20px;
  -webkit-transform: rotateY(0.25turn) translateX(20px);
          transform: rotateY(0.25turn) translateX(20px);
}

.iphone__top {
  top: -40px;
  left: 0;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotateX(0.25turn);
          transform: rotateX(0.25turn);
}

.iphone__bottom {
  bottom: -shadow-width;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotateX(-0.25turn) translateY(20px);
          transform: rotateX(-0.25turn) translateY(20px);
}

.spin {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateY(0turn) rotateX(1turn) rotateZ(15deg) scale(1);
            transform: rotateY(0turn) rotateX(1turn) rotateZ(15deg) scale(1);
  }
  60%, 80% {
    -webkit-transform: rotateY(1turn) rotateX(-0.1turn) rotateZ(15deg) scale(1.3);
            transform: rotateY(1turn) rotateX(-0.1turn) rotateZ(15deg) scale(1.3);
  }
  100% {
    -webkit-transform: rotateY(1turn) rotateX(1turn) rotateZ(15deg) scale(1);
            transform: rotateY(1turn) rotateX(1turn) rotateZ(15deg) scale(1);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotateY(0turn) rotateX(1turn) rotateZ(15deg) scale(1);
            transform: rotateY(0turn) rotateX(1turn) rotateZ(15deg) scale(1);
  }
  60%, 80% {
    -webkit-transform: rotateY(1turn) rotateX(-0.1turn) rotateZ(15deg) scale(1.3);
            transform: rotateY(1turn) rotateX(-0.1turn) rotateZ(15deg) scale(1.3);
  }
  100% {
    -webkit-transform: rotateY(1turn) rotateX(1turn) rotateZ(15deg) scale(1);
            transform: rotateY(1turn) rotateX(1turn) rotateZ(15deg) scale(1);
  }
}

.migi,
.hidari,
.shita,
.ue {
  background-color: #1f1f1f;
}

.migi,
.hidari {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-shadow: 0px -20px 0px #1f1f1f, 0px 20px 0px #1f1f1f;
          box-shadow: 0px -20px 0px #1f1f1f, 0px 20px 0px #1f1f1f;
  width: 70mm;
}

.migi {
  right: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: rotateY(-0.25turn) translateZ(-20px);
          transform: rotateY(-0.25turn) translateZ(-20px);
}

.hidari {
  left: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotateY(0.25turn) translateZ(-20px);
          transform: rotateY(0.25turn) translateZ(-20px);
}

.shita,
.ue {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-shadow: -20px 0px 0px #1f1f1f, 20px 0px 0px #1f1f1f;
          box-shadow: -20px 0px 0px #1f1f1f, 20px 0px 0px #1f1f1f;
  display: block;
  width: 360;
  padding-top: 70mm;
}

.ue {
  top: 0;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotateX(-0.25turn) translateZ(-20px);
          transform: rotateX(-0.25turn) translateZ(-20px);
}

.shita {
  -webkit-transition: bottom 300ms;
  transition: bottom 300ms;
  bottom: calc(330 * -4px);
  height: 70mm;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotateX(0.25turn) translateZ(20px);
          transform: rotateX(0.25turn) translateZ(20px);
}
/*# sourceMappingURL=main.css.map */